body{font-family: 'PT Sans Narrow', sans-serif;}
/*##########################container#########################################*/
#container #visualWrap{border-bottom:1px solid #dadada;}
#container #visual{width:100%;height:550px;background-image:url("../img/bg/pixar1.jpg");background-size:cover;background-attachment:fixed;background-repeat:no-repeat;background-position:center;background-color:#000;}
#container #visual h3{font-size:40px;font-weight:100;color:#fff;line-height:550px;text-align:center;text-transform: uppercase;letter-spacing:5px;text-shadow:0 0 3px #111;}
#container #companyHistory{width:960px;margin:5% auto 12%;}
#container #companyHistory h3.beginnings{text-align:center;line-height:70px;}
#container #companyHistory h3{font-size:35px;line-height:45px;}
#container #companyHistory li{width:100%;overflow:hidden;border-bottom:1px solid gray;padding:30px 0;}
#container #companyHistory img{width:100%;}
#container #companyHistory .textWrap{font-size:18px;line-height:28px;padding:8px 0;}
#container #companyHistory .beginnings{text-align:center;}
#container #companyHistory .halfContent,#container #companyHistory .quarterContent{overflow:hidden;}
#container #companyHistory .halfContent p{width:49%;padding-right:1%;float:left;}
#container #companyHistory .halfContent .right{width:49%;padding-right:0;float:right;}
#container #companyHistory .smallImgWrap .halfContent .left{width:59%;}
#container #companyHistory .smallImgWrap .halfContent .right{width:250px;}
a.mainBtn{width:210px;height:55px;text-align:center;display:inline-block;font-size:18px;
line-height:55px;background-color:#499df5;color:#fff;}
a.mainBtn:hover,a.mainBtn:focus{color:#000;}

@media all and (min-width:768px) and (max-width:1024px){
  #container #companyHistory{width:90%;}
}

@media all and (min-width:481px) and (max-width:767px){
  #container #visual{height:350px;}
  #container #visual h3{line-height:350px;font-size:30px;}
  #container #companyHistory{width:90%;margin:5% auto 15%;}
  #container #companyHistory h3{font-size:28px;line-height:35px;}
  #container #companyHistory h3.beginnings{line-height:35px;padding-bottom:15px;}
  #container #companyHistory .textWrap{font-size:16px;line-height:24px;}
  #container #companyHistory .smallImgWrap .halfContent .left{float:none;width:100%;}
  #container #companyHistory .smallImgWrap .halfContent .right{float:none;margin:10px auto;}
}

@media all and (min-width:320px) and (max-width:480px){
  #container #visual{height:250px;}
  #container #visual h3{line-height:250px;font-size:26px;}
  #container #companyHistory{width:90%;margin:5% auto 15%;}
  #container #companyHistory h3{font-size:20px;line-height:30px;}
  #container #companyHistory h3.beginnings{line-height:30px;padding-bottom:15px;}
  #container #companyHistory .textWrap{font-size:16px;line-height:24px;}
  #container #companyHistory .halfContent p{width:100%;float:none;padding-right:0;margin-bottom:8px;}
  #container #companyHistory .halfContent .right{width:100%;float:none;}
  #container #companyHistory .smallImgWrap .halfContent .left{width:100%;}
  #container #companyHistory .halfContent .right{margin:0 auto;}
}
